<!DOCTYPE html>
<html>
  <head>
    <title>Queen Attack</title>
  </head>
  <body>
    <h1>Queen Attack</h1>
    <p>Type in coordinates to see if the queen can attack!</p>
    <form action="/position">
      <label for="position">Starting Position</label>
      <input type="text" id="position" name ="position">

      <label for="target">Starting Position</label>
      <input type="text" id="target" name ="target">

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
